In [55]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
movies=pd.read_csv("https://files.grouplens.org/datasets/movielens/ml-100k/u.item",sep='|',encoding='latin-1',header=None,names=['movieId', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'] )

In [58]:
print(movies)

      movieId                                      title release_date  \
0           1                           Toy Story (1995)  01-Jan-1995
1           2                           GoldenEye (1995)  01-Jan-1995
2           3                          Four Rooms (1995)  01-Jan-1995
3           4                          Get Shorty (1995)  01-Jan-1995
4           5                             Copycat (1995)  01-Jan-1995
...       ...                                        ...          ...
1677     1678                          Mat' i syn (1997)  06-Feb-1998
1678     1679                           B. Monkey (1998)  06-Feb-1998
1679     1680                       Sliding Doors (1998)  01-Jan-1998
1680     1681                        You So Crazy (1994)  01-Jan-1994
1681     1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

      video_release_date                                           IMDb_URL  \
0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                  ...                                                ...
1677                 NaN  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678                 NaN  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679                 NaN      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680                 NaN  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681                 NaN  http://us.imdb.com/M/title-exact?Schrei%20aus%...

      unknown  Action  Adventure  Animation  Children  ...  Fantasy  \
0           0       0          0          1         1  ...        0
1           0       1          1          0         0  ...        0
2           0       0          0          0         0  ...        0
3           0       1          0          0         0  ...        0
4           0       0          0          0         0  ...        0
...       ...     ...        ...        ...       ...  ...      ...
1677        0       0          0          0         0  ...        0
1678        0       0          0          0         0  ...        0
1679        0       0          0          0         0  ...        0
1680        0       0          0          0         0  ...        0
1681        0       0          0          0         0  ...        0

      Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  \
0             0       0        0        0        0       0         0    0
1             0       0        0        0        0       0         1    0
2             0       0        0        0        0       0         1    0
3             0       0        0        0        0       0         0    0
4             0       0        0        0        0       0         1    0
...         ...     ...      ...      ...      ...     ...       ...  ...
1677          0       0        0        0        0       0         0    0
1678          0       0        0        0        1       0         1    0
1679          0       0        0        0        1       0         0    0
1680          0       0        0        0        0       0         0    0
1681          0       0        0        0        0       0         0    0

      Western
0           0
1           0
2           0
3           0
4           0
...       ...
1677        0
1678        0
1679        0
1680        0
1681        0

[1682 rows x 24 columns]

In [61]:
ratings = pd.read_csv('https://files.grouplens.org/datasets/movielens/ml-100k/u.data', sep='\t', names=['userId', 'movieId', 'rating', 'timestamp'])

In [62]:
ratings

       userId  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [65]:
print(ratings)

       userId  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [67]:
merged_df=pd.merge(movies[["movieId","title"]],ratings,on="movieId")

In [69]:
merged_df

,movieId,title,userId,rating,timestamp
0,1,Toy Story (1995),308,4,887736532
1,1,Toy Story (1995),287,5,875334088
2,1,Toy Story (1995),148,4,877019411
3,1,Toy Story (1995),280,4,891700426
4,1,Toy Story (1995),66,3,883601324
...,...,...,...,...,...
99995,1678,Mat' i syn (1997),863,1,889289570
99996,1679,B. Monkey (1998),863,3,889289491
99997,1680,Sliding Doors (1998),863,2,889289570
99998,1681,You So Crazy (1994),896,3,887160722
99999,1682,Scream of Stone (Schrei aus Stein) (1991),916,3,880845755

In [71]:
user_movies_rating=merged_df.pivot_table(index='userId',columns='title',values='rating')

In [73]:
user_movies_rating

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [85]:
user_movies_rating=user_movies_rating.fillna(0)

In [88]:
user_movies_rating

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0

In [90]:
user_similarity=cosine_similarity(user_movies_rating)

In [92]:
user_similarity

array([[1.        , 0.1689367 , 0.04838832, ..., 0.14908615, 0.18161191,
        0.39943184],
       [0.1689367 , 1.        , 0.11339323, ..., 0.16291072, 0.1752726 ,
        0.10673209],
       [0.04838832, 0.11339323, 1.        , ..., 0.10289899, 0.13675657,
        0.02699035],
       ...,
       [0.14908615, 0.16291072, 0.10289899, ..., 1.        , 0.10250951,
        0.09511958],
       [0.18161191, 0.1752726 , 0.13675657, ..., 0.10250951, 1.        ,
        0.18402235],
       [0.39943184, 0.10673209, 0.02699035, ..., 0.09511958, 0.18402235,
        1.        ]])

In [96]:
user_similarity_df=pd.DataFrame(user_similarity,index=user_movies_rating.index,columns=user_movies_rating.index)

In [100]:
user_similarity_df

userId,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.168937,0.048388,0.064561,0.379670,0.429682,0.443097,0.320079,0.078385,0.377733,...,0.372213,0.119860,0.269860,0.193343,0.197949,0.118722,0.315064,0.149086,0.181612,0.399432
2,0.168937,1.000000,0.113393,0.179694,0.073623,0.242106,0.108604,0.104257,0.162470,0.161273,...,0.147095,0.310661,0.363328,0.410725,0.322713,0.231096,0.228793,0.162911,0.175273,0.106732
3,0.048388,0.113393,1.000000,0.349781,0.021592,0.074018,0.067423,0.084419,0.062039,0.066217,...,0.033885,0.043453,0.167140,0.071288,0.126278,0.026758,0.164539,0.102899,0.136757,0.026990
4,0.064561,0.179694,0.349781,1.000000,0.031804,0.068431,0.091507,0.188060,0.101284,0.060859,...,0.054615,0.036784,0.133619,0.196561,0.146058,0.030202,0.196858,0.152041,0.171538,0.058752
5,0.379670,0.073623,0.021592,0.031804,1.000000,0.238636,0.374733,0.248930,0.056847,0.201427,...,0.340183,0.080580,0.095284,0.081053,0.148607,0.071612,0.239955,0.139595,0.153799,0.313941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.118722,0.231096,0.026758,0.030202,0.071612,0.112729,0.104394,0.096103,0.039937,0.071613,...,0.066452,0.432078,0.259553,0.230558,0.433593,1.000000,0.087875,0.180415,0.043727,0.144559
940,0.315064,0.228793,0.164539,0.196858,0.239955,0.354454,0.330926,0.246883,0.120495,0.342961,...,0.328495,0.107024,0.188246,0.184212,0.175158,0.087875,1.000000,0.145152,0.263608,0.241028
941,0.149086,0.162911,0.102899,0.152041,0.139595,0.145268,0.060175,0.146145,0.143245,0.090305,...,0.047145,0.203301,0.289410,0.237951,0.313400,0.180415,0.145152,1.000000,0.102510,0.095120
942,0.181612,0.175273,0.136757,0.171538,0.153799,0.312264,0.285273,0.176818,0.093287,0.214143,...,0.230352,0.074140,0.090695,0.132746,0.100234,0.043727,0.263608,0.102510,1.000000,0.184022
943,0.399432,0.106732,0.026990,0.058752,0.313941,0.277612,0.395560,0.299809,0.075617,0.221860,...,0.264872,0.210763,0.143796,0.079035,0.202244,0.144559,0.241028,0.095120,0.184022,1.000000

In [154]:
def get_user_recommendation(user_id,top_movies=10):
    #retrieve the similar users by rating
    similar_user=user_similarity_df[user_id].sort_values(ascending=False)[1:11]
    #retrieve the movies rating  by the similar users
    similar_user_movies=user_movies_rating.loc[similar_user.index]
    #retrieve the movies rated by the given user
    user_movies=user_movies_rating.loc[user_id]
    #filter out  the movies that is already rated by the user
    new_movies=similar_user_movies.loc[:,user_movies==0]
    #Calculate the average rating for each unrated movie based on similar users ratings.
    movie_ratings=new_movies.mean().sort_values(ascending=False)
    return movie_ratings.head(top_movies)

In [156]:
get_user_recommendation(2)

title
Dead Man Walking (1995)       3.0
Return of the Jedi (1983)     2.7
Michael Collins (1996)        2.6
Amistad (1997)                2.4
Boot, Das (1981)              2.3
Game, The (1997)              2.3
Lone Star (1996)              2.1
Rock, The (1996)              1.9
Spitfire Grill, The (1996)    1.9
Mr. Holland's Opus (1995)     1.9
dtype: float64